

PORT=3010
PUBLIC_PATH=public

POSTGRES_URL=postgresql://neondb_owner:npg_0mJWlu1aGpbK@ep-young-union-afkq218k-pooler.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
POSTGRES_USER=postgres
POSTGRES_DB=TODO
POSTGRES_PORT=5432
POSTGRES_PASSWORD=npg_0mJWlu1aGpbK


NODE_ENV=development